= javascript_include_tag "world3d"

%canvas#container

#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title Instruction
      .modal-body
        Use 
        %strong W A S D 
        keys to 
        %strong move
        .br
        Use 
        %strong I J K L
        keys to 
        %strong change view
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} OK

:coffeescript
  $('#myModal').modal()
  Application.main()