%h3 Contacts
%table{border: "1", style: "border-collapse: collapse; width: 500px;"}
  %thead
    %tr
      %th Name
      %th Phone
      %th Email
  %tbody
    = render @phone_book.contacts

%p Follow the link below to edit your Phone Book
= phone_book_url @phone_book.id