%ul.nav.nav-tabs
  %li.active
    %a{href: "#"} Home
  %li.dropdown
    %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
      Demo
      %span.caret
    %ul.dropdown-menu
      %li= link_to "Ruby on Rails - AngularJS", phone_books_path, target: "_blank"
      %li= link_to "WebGL (3D) - Nodejs (Websocket)", world3d_path, target: "_blank"
      %li= link_to "React", code_sample_path, target: "_blank"