#container
  .right= link_to "Sign in", new_user_session_path
  %h1 Thanh Nguyen
  %p Ruby, JavaScript and UI developer | San Francisco Bay Area
  %br
  = render 'navs'
  #profile
    #side-col.left
      #photo
        %figure.portrait
          .mask
          = image_tag "myphoto.png", :alt => "Thanh Nguyen's photo"
      %br
      #contact
        thanh.nguyen.5000@gmail.com
        %br
        = link_to "Linkedin", "http://www.linkedin.com/in/thanhnguyen5/", target: "_blank"
    #content.right
      #skills
        %strong Technical Skills
        .item
          %span.item-type
            Languages: 
          Ruby, Java, Object Oriented JavaScript
        .item
          %span.item-type
            Testing: 
          Rspec, Cucumber, Capybara, Jasmine, Selenium
        .item
          %span.item-type
            Databases: 
          MySQL, Postgresql
        .item
          %span.item-type
            Web: 
          Ruby on Rails, React, Nodejs, Coffeescript, AngularJS, Backbonejs, HTML5, CSS3, jQuery, Bootstrap, WebGL, Responsive
        .item        
          %span.item-type
            Mobile:
          iOS, PhoneGap, jQuery Mobile
        .item
          %span.item-type
            Design patterns:
          MVC, Factory, Singleton, Adapter, Composite, Proxy, Command, Observer, State, Strategy, Iterator and Template Method
        .item        
          %span.item-type
            Methodologies:
          Agile, TDD, BDD
        .item        
          %span.item-type
            Platforms:
          Windows, OSX, AWS
        .item        
          %span.item-type
            Misc:
          Git, Circle CI, Functional Programming Haskell, 3D Programming, Hadoop, Sublime Text, Netbean, Eclipse, Visual Studio, iTerm, Adobe Photoshop