#container
  %h1 Thanh Nguyen
  %p Software Developer (Ruby on Rails, JavaScript)
  %br
  = render 'navs'
  #profile
    #side-col.left
      #photo
        %figure.portrait
          .mask
          = image_tag "myphoto.png", :alt => "Thanh Nguyen's photo"
      %br
      #contact
        thanh.nguyen.5000@gmail.com

    #content.right
      #summary
        %strong Summary
        %br
        Software Developer with 1.5 years of success driving full lifecycle development of web-based solutions for clients globally. Well-qualified with advanced skills honed in Ruby on Rails, HTML5, CSS3, and UI/UX design on web-based applications. Experienced in developing complex web interfaces using frameworks such as jQuery, AngularJS and Backbonejs. Successful in partnering with clients, managers, and teams to define and translate requirements into functional specifications. Solid knowledge and expertise in Paired Programming, Agile Project Management, and Test-driven Development. Worked extensively with US based clients on several offshore projects.
      %br
      #skills
        %strong Technical Skills
        %br
        Languages: Ruby, Java, Nodejs, JavaScript, Functional Programming Haskell, 3D Programming, Hadoop
        %br
        Web: Ruby on Rails, AngularJS, Backbonejs, jQuery, Bootstrap, Coffeescript, Rspec, RESTFUL, JSON, XML, AJAX, WebGL, HTML5, CSS3, Devise, Can Can, Github, Circle CI
        %br
        Databases: MySQL, Postgresql, Mongodb, Redis
        %br
        Tools: Sublime Text, Netbean, Eclipse, Gitx, DiffMerge, iTerm, Resque, Unicorn, Capistrano, Adobe Photoshop
        %br
        Platforms: Amazon EC2, Amazon S3, Heroku, Mac OS, Ubuntu, Windows, iOS
        %br
        Servers: Apache, Nginx
        %br
        SDLC: AGILE-SCRUM
        %br
        Design patterns: MVC, Factory, Singleton, Adapter, Composite, Proxy, Command, Observer, State, Strategy, Iterator and Template Method