#container
  .right= link_to "Sign in", new_user_session_path
  %h1 Thanh Nguyen
  %p Software Developer (Java, Ruby, JavaScript)
  %br
  = render 'navs'
  #profile
    #side-col.left
      #photo
        %figure.portrait
          .mask
          = image_tag "myphoto.png", :alt => "Thanh Nguyen's photo"
      %br
      #contact
        thanh.nguyen.5000@gmail.com

    #content.right
      #skills
        %strong Technical Skills
        %br
        Languages: Ruby, Java, Nodejs, JavaScript, Functional Programming Haskell, 3D Programming, Hadoop
        %br
        Web: Ruby on Rails, AngularJS, Backbonejs, jQuery, Bootstrap, Coffeescript, Rspec, RESTFUL, JSON, XML, AJAX, WebGL, HTML5, CSS3, Devise, Can Can, Github, Circle CI
        %br
        Databases: MySQL, Postgresql, Mongodb, Redis
        %br
        Tools: Sublime Text, Netbean, Eclipse, Gitx, DiffMerge, iTerm, Resque, Unicorn, Capistrano, Adobe Photoshop
        %br
        Platforms: Amazon EC2, Amazon S3, Heroku, Mac OS, Ubuntu, Windows, iOS
        %br
        Servers: Apache, Nginx
        %br
        SDLC: AGILE-SCRUM
        %br
        Design patterns: MVC, Factory, Singleton, Adapter, Composite, Proxy, Command, Observer, State, Strategy, Iterator and Template Method