%div{"ng-controller" => "PhoneBookCtrl"}
  %h3 Contacts
  %table.table.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Phone
        %th Email
    %tbody
      %tr{"ng-repeat" => "contact in contacts", "ng-switch" => "contact.state"}
        %td{"ng-switch-default" => ""} {{contact.name}}
        %td{"ng-switch-default" => ""} {{formatPhoneNumber(contact.phone)}}
        %td{"ng-switch-default" => ""} 
          {{contact.email}}
          .right
            %button.btn{"ng-click" => "edit(contact)"} Edit
            %button.btn{"ng-click" => "destroy(contact)"} Delete
        %td{"ng-switch-when" => "editing", colspan: 3}
          %form.inline_form{"ng-submit" => "update(contact)"}
            %input{type: "text", "ng-model" => "contact.edit.name", required: ""}
            %input{type: "text", "ng-model" => "contact.edit.phone", required: "", pattern: "\\d{10}", title: "10 digits"}
            %input{type: "email", "ng-model" => "contact.edit.email", required: ""}
            %input{type: "submit", value: "Save", class: "btn btn-primary"}
  %h3 Add contact
  %form{"ng-submit" => "addContact()"}
    .field
      %label Name
      %input{type: "text", "ng-model" => "newContact.name", required: ""}
    .field  
      %label Phone
      %input{type: "text", "ng-model" => "newContact.phone", required: "", pattern: "\\d{10}", title: "10 digits"}
    .field  
      %label Email
      %input{type: "email", "ng-model" => "newContact.email", required: ""}
    .field
      %input{type: "hidden", "ng-init" => "newContact.phone_book_id=#{@phone_book.id}"}
    .field
      %input{type: "submit", value: "Add Contact", class: "btn btn-primary"}

  %h3 Get this PhoneBook
  %form#receive_phone_book
    .field
      %label Your email
      %input{type: "email", required: ""}
    .field
      %input{type: "submit", value: "Receive", class: "btn btn-success"}

:coffeescript
  app = angular.module("PhoneBook", ["ngResource"])

  app.config ["$httpProvider", (provider) ->
    provider.defaults.headers.common['X-CSRF-Token'] = $('meta[name=csrf-token]').attr('content')
  ]

  app.factory "Contact", ["$resource", ($resource) ->
    $resource("/api/v1/phone_books/#{@phone_book.id}/contacts/:id.json", {id: "@id"}, {update: {method: "PUT"}})
  ]
  
  $("#receive_phone_book").on "submit", =>
    $.ajax
      type: 'POST'
      url: "#{phone_book_phone_book_receptions_path(phone_book_id: @phone_book.id)}"
      data:
        phone_book_reception:
          email: $("#receive_phone_book input[type='email']").val()
      success: (data) ->
        if data.status == 200
          return alert("Please check your email.")
        else
          return alert("Something went wrong. Please try again later.")
      error: (data) ->
        return alert("Something went wrong. Please try again later.")
    
= javascript_include_tag "phone_books"