// Place all the styles related to the PhoneBooks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.phone_books {
  #container {
    .locale {
      select {
        width: 120px !important;
      }
    }

    .inline_form {
      margin-bottom: 0px !important;

      input {
        margin-bottom: 0px !important;
      }
    }
  }
}